[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
matplotlib = "*"
scipy = "*"
numpy = "*"
jupyter = "*"
pandas = "*"
tqdm = "*"
xlrd = "*"
ipython = "*"
sympy = "*"
nose = "*"

[requires]
python_version = "3.6"
