[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
matplotlib = "*"
scipy = "*"
numpy = "*"
jupyter = "*"
pandas = "*"
tqdm = "*"
xlrd = "*"
ipython = "*"
sympy = "*"
nose = "*"
scikit-learn = "*"
statsmodels = "==0.10.0rc2"
pandas-datareader = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
